{% extends 'navbar.html' %}
{% block main %}

<h1 class="text-center text-success">My Cart {{hi}}</h1>

{% for i in cart %}
<div class="border border-3 mt-5 shadow rounded row">
    <div class="col-4">
        <img src="{{i.product.image.url}}" height="300px" width="300px" alt="img">
    </div>
    <div class="col-8">
        <h1>{{i.product.title}}</h1>
        <h3>{{i.product.price}}</h3>
        <h3>{{i.product.description}}</h3>
        <h3>{{i.date}}</h3>
        <a href="{% url 'phr' i.id %}" class="btn btn-success">Place Order</a>
        <a href="{% url 'cdel' i.id %}" class="btn">
            <i class="fa-solid fa-trash" style="color: #ec0909;"></i>
         </a>
    </div>
</div>
{% endfor %}

{% endblock main %}