{% extends 'index.html' %}

    <!-- <body>
        <h1 class="text-center text-success">Login</h1>
        <div class="w-100 d-flex flex-column justify-content-center align-items-center p-5">
            <div class="border shadow bg-light w-50 p-5">
                <form action="" method="post">
                    {% csrf_token %} -->
                    <!-- <table class="table">
                        {{form.as_table}}
                    </table> -->
                    <!-- <button class="btn btn-success">Submit</button>
                    <a href="{% url 'reg' %}" class="btn btn-info">Register</a>
                </form>
            </div>
        </div>
    </body>
</html> -->
